# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
.env
.venv
dist/
build/
*.pkl
*.csv
*.pdf

# Diagrams
/diagrams/
/my-diagram/

# Notebooks
.ipynb_checkpoints
*.ipynb

# VSCode
.vscode/

# Logs
app.log
*.log

# Other
*.html
!docs/*.html
*.txt
*.md
*.png
*.PNG
*.gif
report.html
report.md
rp.html
rp.md
rp_tmp.html
